In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
import joblib
import re

print("Starting the expense categorizer training process,")

Starting the expense categorizer training process,

In [6]:
df = pd.read_csv('dataset.csv')
df

                  Transaction       Category
0            zomato order 250  Food & Dining
1        swiggy food delivery  Food & Dining
2   dinner at barbeque nation  Food & Dining
3         dominos pizza order  Food & Dining
4            paradise biryani  Food & Dining
..                        ...            ...
87     the body shop products  Personal Care
88           perfume purchase  Personal Care
89          shaving kit order  Personal Care
90            supercuts salon  Personal Care
91      urban company massage  Personal Care

[92 rows x 2 columns]

In [ ]:
def clean_text(text):
    text = text.lower()  # Lowercase text
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'\s+', ' ', text).strip() # Remove extra spaces
    return text

df['Clean_Transaction'] = df['Transaction'].apply(clean_text)

print("\nData after cleaning:")
df

Data after cleaning:

                  Transaction       Category          Clean_Transaction
0            zomato order 250  Food & Dining               zomato order
1        swiggy food delivery  Food & Dining       swiggy food delivery
2   dinner at barbeque nation  Food & Dining  dinner at barbeque nation
3         dominos pizza order  Food & Dining        dominos pizza order
4            paradise biryani  Food & Dining           paradise biryani
..                        ...            ...                        ...
87     the body shop products  Personal Care     the body shop products
88           perfume purchase  Personal Care           perfume purchase
89          shaving kit order  Personal Care          shaving kit order
90            supercuts salon  Personal Care            supercuts salon
91      urban company massage  Personal Care      urban company massage

[92 rows x 3 columns]

In [ ]:
# Feature Engineering (TF-IDF) 
# # Initiaize the TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_features=500)

# X-features and y-target vector
X = tfidf_vectorizer.fit_transform(df['Clean_Transaction'])
y = df['Category']

print(f"\nShape of TF-IDF matrix: {X.shape}")

Shape of TF-IDF matrix: (92, 183)